      <div>
        <div>
          <div>
            <label for="url">Amazon URL: </label>
            <input id="url" name="url" value="" type="text" size="100">
              
              <button type="button" onclick="getImageLink(0);">Get Image (HTTP)</button>
              <button type="button" onclick="getImageLinkLocal(1);">Get Image (HTTPS)</button>
          </div>
            <div id="title">
            </div>
            <div id="description">
            </div>
            <div id="imagePreview">
            </div>
        </div>
      </div>  