      <div>
        <div>
          <div>
            <label for="url">Amazon URL: </label>
            <input id="url" name="url" value="" type="text" size="100">
              
              <button type="button" onclick="getImageLink();">Get Image</button>
          </div>
            <div id="title">
            </div>
            <div id="description">
            </div>
            <div id="imagePreview">
            </div>
        </div>
      </div>  