      <div>
        <div>
          <div>
            <label for="lurl">Amazon URL (L): </label>
            <input id="lurl" name="url" value="" type="text" size="100">
              
              <button type="button" onclick="getImageLinkLocal();">Get Image</button>
          </div>
            <div id="ltitle">
            </div>
            <div id="ldescription">
            </div>
            <div id="limagePreview">
            </div>
        </div>
      </div>  