<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <script type="text/javascript" src="../js/local.js"></script>
    </head>
    
    <body>
        <h3>USE CORS (Local)</h3>
        <% include ../partials/nav.ejs %>
    
    </body>
</html>