<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    
    <body>
        <h3>USE CORS (Local)</h3>
        <% include ../partials/navl.ejs %>
    
    </body>
</html>